.About {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.About h1 {
  margin: 35px auto;
  color: #242455;
}

.drip {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

.drip1 {
  margin-top: 2vh;
}

.drip2 {
  margin-top: 50vh;
}

.drip3 {
  margin-top: 32vh;
}

.drip4 {
  margin-top: 50vh;
}

.about-div {
  margin-bottom: 40px;
}

.About .about-p {
  font-size: cal(10px + 1vh);
  text-align: left;
  padding: 0% 15% 1% 15%;
}
