.About {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.About h1 {
  background: #f8f9fa;
  color: #242455;
  margin: 0;
  padding: 15px 0 30px 0;
}

.hero-block .video {
  padding: 30px;
}

.About .thermometer {
  padding: 35px;
  /*box-shadow: 5px 5px 5px rgba(36, 36, 85, 0.2);*/
}

.main-content {
  background: #242455;
  color: white;
  padding: 35px;
}

.main-content .perks {
  margin-top: 20px;
}

.main-content .perks .perks-headers,
.perks-headers h2 {
  align-items: center;
  font-size: 20px;
}

.About .main-content p {
  text-align: left;
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .hero-block .video {
    padding: 1vw;
  }
}

@media screen and (min-width: 1000px) {
  .About hr {
    visibility: hidden;
  }
}
