.App {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.App-logo {
  width: 50%;
  margin-top: -4%;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App h1 {
  color: #242455;
  margin: 0 auto;
  text-indent: 182px;
  font-size: smaller;
}

.App ul {
  margin-left: 182px;
  display: flex;
  flex-direction: row;
  margin-top: -55px;
}

li {
  list-style-type: none;
  padding-bottom: 2px;
}

.left-link {
  padding-left: 55px;
  padding-right: 23px;
}

.spacer {
  color: white;
}

.right-link {
  padding-left: 23px;
  padding-right: 55px;
}

.App a {
  color: white;
}

.App a:hover {
  color: #b3b3ce;
}

.App .App-box {
  background-color: #242455;
  padding: 0;
}

@media screen and (max-width: 925px) {
  .App-logo {
    width: 75%;
  }

  h1 {
    text-indent: 60px;
  }
}
