.brands {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.brands h1 {
  margin: 35px auto 0 auto;
  color: #242455;
}

.brands h6 {
  margin-bottom: 35px;
  color: #242455;
}

.col-6,
.col-md-4 {
  margin-bottom: 30px;
}

.card {
  height: 100%;
}

.card-img-top {
  max-width: 130px;
  margin: 0 auto;
}

.internal-card {
  padding: 10px;
}
