.brands h1 {
  margin: 40px auto 30px auto;
}

.brands {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.col-6,
.col-md-4 {
  margin-bottom: 30px;
}

.card {
  height: 100%;
}

.card-img-top {
  max-width: 100px;
  margin: 0 auto;
}

.internal-card {
  padding: 10px;
}
