.hornav-logo {
  max-width: 50%;
}

#horizontalNavbar #hornav-logo {
  text-align: left;
  width: 30%;
}

button.navbar-toggler {
  color: #eb5f4e;
}

@media screen and (max-width: 1000px) {
  #navbarTogglerDemo02 ul:not(.dropdown-menu) {
    display: flex;
    flex-wrap: wrap;
    zoom: 1;
  }

  .nav-item {
    display: hidden;
  }
}
