.hornav-logo {
  max-width: 15%;
}

#horizontalNavbar {
  flex-wrap: nowrap;
}

.horizontalNav button {
  color: #eb5f4e;
}

.container-fluid a {
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .collapse:not(.show) {
    display: inline-block !important;
  }

  .list-group {
    display: none;
  }
}
