.navbar {
  padding: 15px 0 15px 0;
}

.navbar-collapse {
  justify-content: right;
}

.nav-logo {
  max-width: 100px;
}

.navbar-brand {
  margin: -6px 0 0 1.5%;
  color: #242455;
}

.navbar-brand:hover {
  color: #242455;
}

.nav-item {
  padding-right: 60px;
}

.nav-link {
  color: #b3b3ce;
}

.nav-link:hover {
  color: #242455;
}
