.participants h1 {
  margin: 35px auto;
  color: #242455;
}

.participants {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.row2 {
  margin-top: 30px;
}

.col-6,
.col-md-4 {
  margin-bottom: 30px;
}

.card {
  height: 100%;
}

.card-img-top {
  max-width: 100px;
  margin: 0 auto;
}

.internal-card {
  padding: 10px;
}

.pin {
  max-width: 30px;
}
