.participants {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-image: url("dampanddryweb-bkg-02.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.participants .main-content {
  background-color: transparent;
}

.participants h1,
.participants h6 {
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 35px;
  color: #eb5f4e;
}

.participants h6 {
  margin-left: 10px;
}

.row2 {
  margin-top: 30px;
}

.col-6,
.col-md-4 {
  margin-bottom: 30px;
}

.participants .card {
  height: 325px;
  border: 3px solid #eb5f4e;
  color: #eb5f4e;
  background: white;
  margin: 5px;
}

.card-title {
  text-transform: uppercase;
}

.card-title a {
  color: #eb5f4e;
  font-weight: 800;
  transition: all 0.15s ease-in-out;
}

.card-text:last-child {
  margin-bottom: 20px;
}

.internal-card {
  padding: 10px;
}

.list-group-item {
  padding: 20px 0 0 0;
}

.pin {
  max-width: 30px;
}

.participants .row-1 {
  height: 30px;
}

.participants .row-2 {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 175px;
}

.participants .row-3 {
  height: 40px;
}

@media screen and (max-width: 1000px) {
  .Nav {
    display: none !important;
  }

  .participants {
    margin-top: 30px;
    background-repeat: repeat;
  }

  .card-body {
    font-size: 90%;
  }

  .card-body h5 {
    font-size: 100%;
  }

  .row-2 {
    height: 150px;
  }

  .row-3 {
    height: 100px;
  }
}
