.participants {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.participants h1 {
  margin: 35px auto 0 auto;
  color: #242455;
}

.participants h6 {
  margin-bottom: 35px;
  color: #242455;
}

.row2 {
  margin-top: 30px;
}

.col-6,
.col-md-4 {
  margin-bottom: 30px;
}

.card {
  height: 100%;
}

.card-title a {
  color: #242455;
  transition: all 0.15s ease-in-out;
}

.card-title a:hover {
  color: #b3b3ce;
}

.card-text:last-child {
  margin-bottom: 20px;
}

.internal-card {
  padding: 10px;
}

.list-group-item {
  padding: 20px 0 0 0;
}

.pin {
  max-width: 30px;
}
